<% layout('layout') %>

<main class="container mx-auto p-6">
	<h1 class="text-3xl font-bold mb-4">Bienvenido a GymApp</h1>
	<p class="text-lg">
		Administra tu gimnasio de manera eficiente con nuestras herramientas.
	</p>
</main>
