<% layout('layout') %>

<div class="card w-full max-w-md mx-auto mt-12">
	<h2 class="page-title">Formulario de Inscripción</h2>
	<form
		id="formulario-inscripcion"
		class="space-y-4">
		<div class="relative">
			<input
				type="text"
				id="nombre"
				placeholder=" "
				required
				class="input" />
			<label
				for="nombre"
				class="floating-label"
				>Nombre</label
			>
		</div>

		<div class="relative">
			<input
				type="text"
				id="apellido"
				placeholder=" "
				required
				class="input" />
			<label
				for="nombre"
				class="floating-label"
				>Apellido</label
			>
		</div>
		<div class="relative">
			<input
				type="text"
				id="dni"
				placeholder=" "
				required
				class="input" />
			<label
				for="nombre"
				class="floating-label"
				>DNI</label
			>
		</div>
		<div class="relative">
			<input
				type="email"
				id="email"
				placeholder=" "
				class="input" />
			<label
				for="nombre"
				class="floating-label"
				>Email (opcional)</label
			>
		</div>
		<div class="relative">
			<input
				type="text"
				id="telefono"
				placeholder=" "
				required
				class="input" />
			<label
				for="nombre"
				class="floating-label"
				>Teléfono</label
			>
		</div>
		<div class="relative">
			<label class="block mb-1 font-medium"
				>Tipo de cuota <span class="text-red-500">*</span></label
			>
			<div class="space-y-2">
				<label class="flex items-center space-x-2">
					<input
						type="radio"
						name="tipo_cuota"
						value="dos"
						required />
					<span>dos dias</span>
				</label>
				<label class="flex items-center space-x-2">
					<input
						type="radio"
						name="tipo_cuota"
						value="tres"
						required />
					<span>tres dias</span>
				</label>
				<label class="flex items-center space-x-2">
					<input
						type="radio"
						name="tipo_cuota"
						value="libre"
						required />
					<span>libre</span>
				</label>
			</div>
			<button
				type="submit"
				class="btn w-full">
				Inscribirse
			</button>
		</div>
	</form>
</div>

<script
	type="module"
	src="/js/inscripcion.js"></script>
