<% layout('layout') %> <% layout('layout') %>

<div class="card w-full max-w-md mx-auto mt-12">
	<h2 class="page-title">Formulario de Inscripción</h2>
	<form
		id="formulario-inscripcion"
		class="space-y-4">
		<div class="relative">
			<input
				type="text"
				id="nombre"
				placeholder="Nombre"
				required
				class="input" />
			<span class="absolute top-2 right-2 text-red-500">*</span>
		</div>
		<div class="relative">
			<input
				type="text"
				id="apellido"
				placeholder="Apellido"
				required
				class="input" />
			<span class="absolute top-2 right-2 text-red-500">*</span>
		</div>
		<div class="relative">
			<input
				type="text"
				id="dni"
				placeholder="DNI"
				required
				class="input" />
			<span class="absolute top-2 right-2 text-red-500">*</span>
		</div>
		<div class="relative">
			<input
				type="email"
				id="email"
				placeholder="Email (opcional)"
				class="input" />
		</div>
		<div class="relative">
			<input
				type="text"
				id="telefono"
				placeholder="Teléfono"
				required
				class="input" />
			<span class="absolute top-2 right-2 text-red-500">*</span>
		</div>
		<button
			type="submit"
			class="btn w-full">
			Inscribirse
		</button>
	</form>
</div>

<script
	type="module"
	src="/js/inscripcion.js"></script>
