<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<!-- Título dinámico -->
		<link
			href="/css/output.css"
			rel="stylesheet" />
	</head>
	<body class="bg-gray-100">
		<header class="bg-blue-600 text-white">
			<nav class="container mx-auto p-4">
				<ul class="flex justify-around">
					<li>
						<a
							href="/"
							class="hover:text-gray-300"
							>Inicio</a
						>
					</li>
					<li>
						<a
							href="/alumnos"
							class="hover:text-gray-300"
							>Alumnos</a
						>
					</li>
					<li>
						<a
							href="/inscripcion"
							class="hover:text-gray-300"
							>Inscripción</a
						>
					</li>
				</ul>
			</nav>
		</header>

		<main class="container mx-auto p-6">
			<%- body %>
			<!-- Aquí se inserta el contenido específico de cada página -->
		</main>
		<script>
			setTimeout(() => {
				const success = document.getElementById('toast-success');
				const error = document.getElementById('toast-error');

				if (success) success.classList.add('opacity-0');
				if (error) error.classList.add('opacity-0');

				// Opcional: eliminarlos completamente después del fade
				setTimeout(() => {
					if (success) success.remove();
					if (error) error.remove();
				}, 500); // Espera a que termine la transición
			}, 4000); // Tiempo visible del toast
		</script>

		<footer class="bg-blue-600 text-white text-center p-4">
			<p>&copy; 2025 GymApp. Todos los derechos reservados.</p>
		</footer>
		<!-- Toast container -->
		<div
			id="toast-container"
			class="fixed top-5 right-5 z-50 space-y-2"></div>

		<!-- Cargar script de Toast -->
		<script
			type="module"
			src="/js/toast.js"></script>
	</body>
</html>
