<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<!-- Título dinámico -->
		<link
			href="/css/output.css"
			rel="stylesheet" />
      <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
	</head>
	<body class="min-h-screen flex flex-col bg-gray-100">
		<header class="bg-primary text-white">
			<div class="relative">
				<input
					type="text"
					id="busqueda-alumno"
					placeholder="Buscar alumno..."
					class="input text-black" />
				<ul
					id="resultados-busqueda"
					class="absolute bg-white text-black rounded-md w-full mt-1 shadow-md hidden z-50"></ul>
			</div>
			<nav class="container mx-auto p-4">
				<ul class="flex justify-around">
          <li>
            <button
              id="config-button"
              aria-label="Abrir configuraciones">
               ⚙️
            </button>
          </li>
					<li>
						<a
							href="/"
							class="nav-link"
							>Inicio</a
						>
					</li>
					<li>
						<a
							href="/alumnos"
							class="nav-link"
							>Alumnos</a
						>
					</li>
					<li>
						<a
							href="/inscripcion"
							class="nav-link"
							>Inscripción</a
						>
					</li>
					<li>
						<a
							href="/deudores"
							class="nav-link"
							>Deudores</a
						>
					</li>
				</ul>
					<ul
						 id="config-menu"
        class="absolute mt-2 w-48 bg-white text-black rounded-lg shadow-lg opacity-0 transform scale-95 transition-all duration-200 hidden z-50">
        <li>
            <a
                href="/configuracion"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-t-lg">
                Precio de cuotas
            </a>
        </li>
					</ul>
				</div>
			</nav>
		</header>
		<script>
    // Mostrar/ocultar el menú desplegable al hacer clic en el botón de configuración
    const configButton = document.getElementById('config-button');
    const configMenu = document.getElementById('config-menu');

    configButton.addEventListener('click', (event) => {
        event.stopPropagation(); // Evita que el evento se propague al documento
        configMenu.classList.toggle('hidden');
        configMenu.classList.toggle('opacity-0');
        configMenu.classList.toggle('scale-95');
    });

    // Cerrar el menú si se hace clic fuera de él
    document.addEventListener('click', (event) => {
        if (!configMenu.classList.contains('hidden')) {
            configMenu.classList.add('hidden');
            configMenu.classList.add('opacity-0');
            configMenu.classList.add('scale-95');
        }
    });
</script>

		<main class="container mx-auto p-6 flex-grow">
			<%- body %>
			<!-- Aquí se inserta el contenido específico de cada página -->
		</main>

		<footer class="bg-primary text-white text-center p-4">
			<p>&copy; 2025 GymApp. Todos los derechos reservados.</p>
		</footer>
		<!-- Toast container -->
		<div
			id="toast-container"
			class="fixed top-5 right-5 z-50 space-y-2"></div>

		<!-- Cargar script de Toast -->
		<script
			type="module"
			src="/js/toast.js"></script>
		<script
			type="module"
			src="/js/buscador.js"></script>
	</body>
</html>
