<header class="bg-blue-600 text-white">
	<nav class="container mx-auto p-4">
		<ul class="flex justify-around">
			<li>
				<a
					href="/"
					class="hover:text-gray-300"
					>Inicio</a
				>
			</li>
			<li>
				<a
					href="#"
					class="hover:text-gray-300"
					>Servicios</a
				>
			</li>
			<li>
				<a
					href="/alumnos"
					class="hover:text-gray-300"
					>Alumnos</a
				>
			</li>
			<li>
				<a
					href="/inscripcion"
					class="hover:text-gray-300"
					>Inscripción</a
				>
			</li>
		</ul>
	</nav>
</header>
